# Core input
fossils       = palaeodictyopterida.fossils

# Output
log_output    = output/palaeodictyopterida
tree_output   = output/palaeodictyopterida

# MCMC settings
chain_length    = auto
parallel_chains = 4
thinning        = 5000
burn_in         = 0.25
cores           = 4
seed            = 42

# Convergence
max_gen = 500000000
min_ess = 50
rhat    = 1.01

# FBD model
conditioning = extinct exp:0.1,327
rho          = 1

[lambda]
time_bins = b0:(250,260) | b1:(260,265) | b2:(265,270) | b3:(270,275) | b4:(275,280) | b5:(280,285) | b6:(285,290) | b7:(290,295) | b8:(295,300) | b9:(300,305) | b10:(305,310) | b11:(310,315) | b12:(315,inf)
mode      = ou

[mu]
time_bins = b0:(250,260) | b1:(260,265) | b2:(265,270) | b3:(270,275) | b4:(275,280) | b5:(280,285) | b6:(285,290) | b7:(290,295) | b8:(295,300) | b9:(300,305) | b10:(305,310) | b11:(310,315) | b12:(315,inf)
mode      = ou

[psi]
time_bins = b0:(250,273.0) | b1:(273.0,298.9) | b2:(298.9,303.7) | b3:(303.7,315.2) | b4:(315.2,inf)
prior     = exp:100
mode      = indep
