# Core input
backbone_tree = cet72.treefile
clade_def     = cetacea.clades
fossils       = cetacea.fossils
hessian       = in.BV

# Output
log_output    = output/cetacea
tree_output   = output/cetacea

# MCMC settings
chain_length    = auto
parallel_chains = 4
thinning        = 5000
burn_in         = 0.25
cores           = 4
seed            = 42

# Convergence
max_gen = 100000000
min_ess = 100
rhat    = 1.01

# FBD model
conditioning = origin truncnorm:55,2,50
rho          = 1

[lambda]
time_bins = b0:(0,5) | b1:(5,10) | b2:(10,15) | b3:(15,20) | b4:(20,25) | b5:(25,30) | b6:(30,35) | b7:(35,40) | b8:(40,inf)
prior     = exp:10
mode      = hsmrf

[mu]
time_bins = b0:(0,5) | b1:(5,10) | b2:(10,15) | b3:(15,20) | b4:(20,25) | b5:(25,30) | b6:(30,35) | b7:(35,40) | b8:(40,inf)
prior     = exp:10
mode      = hsmrf

[psi]
time_bins = b0:(0,5) | b1:(5,10) | b2:(10,15) | b3:(15,20) | b4:(20,25) | b5:(25,30) | b6:(30,35) | b7:(35,40) | b8:(40,inf)
prior     = exp:10
mode      = hsmrf

# Clock model
[clock]
clock_model  = gbm
rgene_gamma  = 2,2000,1
sigma2_gamma = 1,10,1
sigma2_param = pncp
pncp_tuning  = 50000
