# Core input
backbone_tree = emydidae.treefile
clade_def     = emydidae.clades
fossils       = emydidae.fossils
sequence      = emydidae.fasta

# Output
log_output    = output/emydidae
tree_output   = output/emydidae

# MCMC settings
chain_length    = auto
parallel_chains = 4
coupled_chains  = 4
thinning        = 1000
burn_in         = 0.25
cores           = 32
seed            = 42

# Convergence
max_gen = 500000000
min_ess = 400
rhat    = 1.01

# FBD model
conditioning = origin exp:0.1,54.8
rho          = 1

[lambda]
prior = exp:10
mode  = indep

[mu]
prior = exp:10
mode  = indep

[psi]
prior = exp:10
mode  = indep

# Substitution model
[substitution]
partition      = emydidae_partition.nex
datatype       = nt
ctmc_model     = gtr
ctmc_gamma_cat = 4
ctmc_inv       = off
ctmc_freq      = model

# Clock model
[clock]
clock_model  = ucln
rgene_gamma  = 2,2000,1
sigma2_gamma = 1,10,1
sigma2_param = pncp
pncp_tuning  = 50000
